<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- Google Search Engine Settings -->
    <add key="Google.BaseUrl" value="https://www.googleapis.com/customsearch/v1?key={Key}&amp;cx={Context}&amp;q={Query}" />
    <add key="Google.ApiKey" value="ADD_YOUR_GOOGLE_API_KEY_HERE" />
    <add key="Google.ContextId" value="ADD_YOUR_GOOGLE_CONTEXT_ID_HERE" />

    <!-- Bing Search Engine Settings -->
    <add key="Bing.BaseUrl" value="https://api.cognitive.microsoft.com/bing/v7.0/search?q={Query}" />
    <add key="Bing.ApiKey" value="ADD_YOUR_BING_API_KEY_HERE" />

  </appSettings>
</configuration>